<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://jaccx.com/ns/1.0"
        id        = "com.jaccx.app"
        version   = "1.0.0">

    <name>App Jaccx</name>

    <description>
        This is a minimal app.
    </description>

    <author href="http:/jaccx.com" email="admin@jaccx.com">
        Jaccx Build
    </author>
    
    <icon src="icon.jpg" />

</widget>
